@media(max-width:420px){
	.pricing-section .pricing-box{
		width:100%;
		margin:0px auto 30px auto;
	}
	.pricing-section .pricing-box-2{
		width:100%;
		margin:0px auto 30px auto;
	}
}
@media(max-width:767px){
	.pricing-section .pricing-box{
		width:80%;
		margin:0px auto 30px auto;
	}
	.pricing-section .pricing-box-2{
		width:80%;
		margin:0px auto 30px auto;
	}
}

@media(max-width:992px){
	.banner-section h1{
		text-align:center;
	}
	.banner-section .image{
		width:100%;
	}
	.btn-section{
		text-align:center;
	}
	.pricing-section .pricing-box{
		width:60%;
		margin:0 auto 30px auto;
	}
	.pricing-section .pricing-box-2{
		width:60%;
		margin:0 auto 30px auto;
	}
}
