/*-----container and grids----*/
.container{
	width:1170px;
	padding-left:15px;
	padding-right:15px;
	margin:0 auto;
	font-family:Jost,sans-serif;
	box-sizing:border-box;
}

/*---common style---*/
.btns{
    display:inline-block;
	text-decoration:none;
	text-align:center;
	padding:6px 25px;
	background-color:#37517E;
	color:#fff;
	border-radius:20px;
	border:2px solid #31a9e1;
	font-size:16px;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---flex styles-*/
.align-items-center{
	align-items:center !important;
}
.align-items-start{
	align-items:flex-start !important;
}
.align-items-end{
	align-items:flex-end !important;
}
.align-items-baseline{
	align-items:baseline !important;
}
.align-items-stretch{
	align-items:stretch !important;
}


/*----banner starts---*/
.banner-section{
	background-color:#37517E;
	background-repeat:no-repeat;
}
.header-section{
	background-color:#37517E;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:99;
}
.navbar-light .navbar-brand{
	color:#fff;
	font-size:30px;
	font-weight:500;
	font-family:Jost,sans-serif;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
	color:#fff;
}
.navbar-light .navbar-toggler-icon{
	color:#fff;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
	color:#47b2e4;
}
.navbar-light .navbar-nav .nav-link{
	color:#fff;
	padding-right:20px;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#47b2e4;
}
.navbar-light .navbar-toggler-icon{
	color:#fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link{
	color:#fff;
}
.navbar-nav{
	padding-right:80px;
	padding-top:10px;
	padding-bottom:10px;
}
.btns:hover{
	background-color:#31a9e1;
	color:#fff;
}
.image{
	width:80%;
	max-width:100%;
	height:auto;
	padding-top:50px;
}
.banner-section{
	padding:50px 0px;
}
.banner-section h1{
	font-size:45px;
    font-family:Jost,sans-serif;
	color:#fff;
	padding-top:80px;
	padding-bottom:10px;
	font-weight:700;
}
.banner-section h4{
	color:#8090AD;
	font-family:Jost,sans-serif;
	font-size:22px;
	line-height:25px;
}
.nav-button{
	background-color:#73c5eb;
	border-radius:25px;
	color:#fff;
	padding:10px 20px;
	display:inline-block;
	margin:50px 10px 50px 0px;
}
.nav-button:hover{
	background-color:#209dd8;
}
.banner-section a{
	text-decoration:none;
	color:#fff;
	text-align:center;
	font-size:14px;
}
.banner-section span{
	font-size:20px;
}
.banner-section i{
	color:#fff;
	font-size:26px;
	padding-right:10px;
}
.banner-section i:hover{
	color:#73c5eb;
}
.banner-section p{
	font-size:16px;
	color:#fff;
}
.head{
	animation-name:head;
	animation-duration:5s;
	animation-delay:0;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	transform:translateY(0px);
}
@keyframes head{
	0%{
		transform:translateY(-20px);
	}
	50%{
		transform:translateY(20px);
	}
	100%{
		transform:translateY(-20px);
	}
}
/*---client-section---*/
.client-section{
	padding:30px 0;
	background-color:#F3F5FA;
}
.client-logo{
	padding:5px 30px;
}
.client-logo img{
	width:100%;
	filter:grayscale(100);
	opacity:1;
	transition:all 0.4s ease; 
}
.client-logo img:hover{
	filter:grayscale(0%);
	opacity:1;
}
.client-logo :hover img{
	transform:scale(1.2);
}
/*---about-section---*/
.about-section{
	background-color:#fff;
	padding:50px 0px;
	font-family:Poppins,sans-serif;	
}
.about-title h3{
	font-size:32px;
	font-weight:bold;
	font-family:Jost,sans-serif;
	color:#37517e;
	position:relative;
	text-align:center;
	padding:30px;
}
.about-title h3::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.para{
	background-color:#fff;
	margin-top:50px;
	font-family:Open-sans,sans-serif;
}
.para i{
	color:#47b2e4;
	padding-right:5px;
}
.para p{
	color:#000;
	font-family:Jost,san-serif;
	font-size:18px;
	color:#342727;
}
.para p1{
	color:#444444;
	font-size:18px;
	padding-bottom:10px;
	font-family:Jost,san-serif;
}
.learn-btn{
	font-family:Poppins,sans-serif;
	background:#fff;
	font-weight:500;
	display:inline-block;
	border:2px solid #47b2e4;
	border-radius:5px;
	padding:10px 20px;
	text-decoration:none;
}
.learn-btn:hover{
	background-color:#47b2e4;
	color:#fff;
}
/*----eum-section---*/
.eum-section{
	background-color:#f3f5fa;
	font-family:Jost,sans-serif;
	padding:70px 0px;
}
.accordion-item:first-of-type .accordion-button{
	margin-bottom:0;
}
.align-items-center{
	align-items:center !important;
}
.eum-cnt-1 h2{
	color:#37517e;
	font-size:30px;
	font-weight:400;
	margin-top:20px;
}
.eum-section span{
	color:#47b2e4;
}
.eum-cnt-1 h2 strong{
	font-weight:bolder;
}
.eum-cnt-1 p{
	font-size:17px;
	line-height:24px;
	color:#444444;
}
.accordion-body{
	padding:0px 10px 10px 20px;
}
.eum-cnt-1 summary{
	list-style:none;
}
.eum-cnt-1 summary:hover{
	color:#47b2e4;
}
.cnt-1 {
	background-color:#fff;
	padding:20px;
	margin-bottom:20px;
	margin-top:20px;
	position:relative;
}
.cnt-1 i{
	position:absolute;
	top:40%;
	right:0;
}
.cnt-2 {
	background-color:#fff;
	padding:20px;
	margin-bottom:20px;
	position:relative;
}
.cnt-2 i{
	position:absolute;
	top:40%;
	right:0;
}
.cnt-3 {
	background-color:#fff;
	padding:20px;
	margin-bottom:20px;
	position:relative;
}
.cnt-3 i{
	position:absolute;
	top:40%;
	right:0;
}
.eum-cnt-1 img{
	width:100%;
	height:auto;
	padding-top:50px;
	margin-top:50px;
}
.eum-cnt-1 span{
	color:#47b2e4;
	font-size:16px;
	font-weight:bold;
	padding-right:10px;
}
/*---vol-img section---*/
.vol-img-section{
	background-color:#fff;
	padding-bottom:60px;
}
.vol-img-1 img{
	height:auto;
	width:100%;
	margin-top:80px;
}
.vol-img-2 h2{
	margin-top:80px;
	font-size:32px;
	line-height:35px;
	font-family:Poppins,sans-serif;
	color:#37517e;
	padding-bottom:10px;
	font-weight:bold;
}
.vol-img-2 p1{
	font-size:16px;
	line-height:20px;
	color:#444444;
	font-style:italic;
}
.vol-img-section .progress-bar-val .skill{
	display:block;
	font-weight:500;
	font-size:13px;
	font-family:poppins,sans-serif;
	color:#37517e;
	margin:11px 0px;
}
.vol-img-section .progress-bar-val .skill .val{
	float:right;
	background-color:#fff;
	color:#37517e;
	font-size:15px;
}
.vol-img-section .progress-bar-val .progress{
	background-color:#e8edf5;
	height:10px;

}
.vol-img-section .progress-bar{
	background-color:#4668a2;
}
/*----services-section----*/
.services-section{
	background-color:#f3f5fa;
}
.title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding-top:70px;
	padding-bottom:15px;
	font-family:Jost,sans-serif;
}
.title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	padding-top:20px;
	font-family:Open-sans,sans-serif;
}
.service-img i{
	color:#47b2e4;
	font-size:36px;
	transition:0.3s;
}
.service-img h4{
	padding-top:20px;
	padding-bottom:10px;
	color:#37517E;
	font-size:22px;
}
.service-img a{
	text-decoration:none;
	font-family:Jost,sans-serif;
	color:#37517e;
}
.services-section .service-img:hover h4 a{
	color:#47b2e4;
	transition:0.3s ease;
}
.service-img p{
	color:#6c757dba;
	line-height:25px;
	font-size:15px;
	font-weight:400;
}
.service-img{
	background-color:#fff;
	padding:50px 20px;
	margin-top:40px;
	margin-bottom:50px;
	transition:all 0.3s ease;
}
.services-section .service-img:hover{
	transform:translateY(-10px);
}
.cta-section{
	background-image:linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),url(../images/cta-bg.jpg);
	background-size:cover;
	padding:80px 0px;
}
.cta-section .call-action h2{
	color:#fff;
	font-size:28px;
	font-weight:600;
	padding-bottom:15px;
}
.cta-section .call-action p{
	color:#fff;
	font-size:16px;
	line-height:25px;
}
.call-btn{
	margin-top;20px;
	display:flex;
	justify-content:center;
}
.call-btn a{
	text-decoration:none;
	color:#fff;
	border:2px solid #fff;
	padding:13px 25px;
	border-radius:25px;
	margin-top:40px;
}
.call-btn a:hover{
	background-color:#47b2e4;
	border:2px solid #47b2e4;
}
/*---portfolio-section----*/
.portfolio-section{
	background-color:#fff;
	margin-bottom:30px;
}
.portfolio-title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding-top:60px;
	padding-bottom:30px;
	font-family:Jost,sans-serif;
}
.portfolio-title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.portfolio-title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	font-family:Open-sans,sans-serif;
	margin-bottom:30px;
}
.portfolio-nav{
	display:flex;
	justify-content:center;
	text-align:center;
	margin-bottom:30px;
}
.portfolio-nav a{
	display:inline-block;
	text-decoration:none;
	color:#000;
	font-size:15px;
	text-transform:uppercase;
	padding:7px 15px;
	border-radius:10px;
	background-color:#fff;
	transition:all 0.5s ease;
}
.portfolio-nav a.active-port{
	background-color:#47b2e4;
	color:#fff;	
}
.portfolio-nav a:hover{
	background-color:#47b2e4;
	color:#fff;
}
.portfolio-img{
	background-color:#fff;
	position:relative;
	overflow:hidden;
	margin-bottom:30px;
	width:100%;
	display:block;
	transition:all 0.3s ease;
}
.portfolio-img .portfolio-overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:flex-end;
	opacity:0;
	transition:all 0.3s ease;
}
.portfolio-overlay .p-content{
	padding-left:20px;
	padding-bottom:30px;
}
.p-content h4{
	color:#fff;
	font-weight:600;
	margin-bottom:10px;
	font-size:20px;
}
.p-content h5{
	font-style:italic;
	color:#ccc;
	text-transform:uppercase;
	font-weight:500;
	font-size:16px;
}
.p-content a{
	text-decoration:none;
	display:inline-block;
	color:#ccc;
	font-size:18px;
	margin-right:15px;
	transition:all 0.3s ease;
}
.portfolio-overlay .p-content{
	background-color:rgba(55, 81, 126, 0.8);
	padding:10px 15px;
	position:absolute;
	left:5px;
	right:5px;
	bottom:0;
	transition:all 0.3s ease;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.p-content a:hover{
	color:#47b2e4;
}
.portfolio-img:hover img{
	transform:scale(1.2);
	transition:all 0.6s ease;
}
.portfolio-img:hover .portfolio-overlay{
	opacity:1;
}
.justify-content-center{
	justify-content:center !important;
}

/*-----team section starts----*/
.team-section{
	background-color:#f3f5fa;
    padding:50px 0px;
}
.team-title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding:30px;
	font-family:Jost,sans-serif;
}
.team-title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.team-title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	font-family:Open-sans,sans-serif;
}
.team-items{
	background-color:#fff;
	border-radius:10px;
	padding:20px;
	margin-bottom:20px;
	box-sizing:border-box;
	display:flex;
}
.team-img img{
	float:left;
	width:160px;
	border-radius:50%;
	transition:ease-in-out 0.3s;
}
.info p1{
	font-size:15px;
	color:gray;
	line-height:10px;
}
.info p{
	font-size:13px;
	color:gray;
	line-height:20px;
}
.info h4{
	color:#37517e;
	font-size:20px;
	font-weight:700;
}
.team-section .info{
	position:relative;
	flex-grow:1;
	padding-left:20px;
}
.team-section .underline{
	background-color:#adb5bd;
	width:55px;
	height:1px;
	margin:10px 0px;
}
.icons ul li{
	margin:0 2px;
	list-style:none;
	display:inline-block;
}
.icons ul{
	padding:0;
}
.icons a{
	text-decoration:none;
	display:block;
	border-radius:50px;
	width:32px;
	height:32px;
	background-color:#eff2f8;
	color:#37517e;
	padding-top:7px;
	padding-left:7px;
}
.icons a:hover{
	background-color:#47b2e4;
	color:#fff;
}
/*----pricing-section starts---*/
.pricing-section{
	background-color:#fff;
	padding:50px 0px;
}
.pricing-title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding:30px;
	font-family:Jost,sans-serif;
}
.pricing-title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.pricing-title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	font-family:Open-sans,sans-serif;
	margin-bottom:30px;
}
.pricing-box{
	background-color:#fff;
	margin-top:30px;
}
.pricing-box-2{
	margin-top:30px;
	background-color:#fff;
}
.pricing-box-2 .plan{
	background-color:#fff;
	border-radius:25px;
	border-top:2px solid #fff;
	box-shadow:0 3px 20px -2px rgb(20 45 100 / 10%);
	padding:30px;
}
.pricing-box-2 .buy-btn{
	border:2px solid #47b2e4;
	background-color:#47b2e4;
	border-radius:25px;
	display:inline-block;
	padding:10px 20px;
}
.pricing-box-2 a{
	text-decoration:none;
	color:#fff;
}
.pricing-box .plan{
	background-color:#fff;
	border-radius:25px;
	border-top:2px solid #fff;
	box-shadow:0 3px 20px -2px rgb(20 45 100 / 10%);
	padding:30px;
}
.plan h3{
	color:#37517e;
	font-size:18px;
	margin-bottom:20px;
	margin-left:30px;
}
.plan h4{
	font-size:40px;
	color:#37517e;
}
.plan sup{
	color:#37517e;
	font-size:26px;
	top:-25px;
	left:3px;
	margin-left:30px;
}
.pricing-box .plan h3 span{
	color:#37517e;
	font-size:48px;
}
.plan p{
	font-size:20px;
	color:#47b2e4;
	margin-left:30px;
}
.plan ul li {
	list-style:none;
	padding:10px 0px;
}
.plan .green-tick{
	color:#999;
	font-size:15px;
}
.plan .green-tick i{
	color:#28a745;
}
.pricing-section ul .cross i{
	color:#ccc;
}
.pricing-section ul .cross span{
	text-decoration:line-through;
}
.pricing-box .buy-btn{
	border:2px solid #47b2e4;
	border-radius:25px;
	display:inline-block;
	padding:10px 20px;
}
.pricing-box a{
	text-decoration:none;
	color:#47b2e4;
}
.buy-btn:hover{
	background-color:#47b2e4;
	color:#fff;
}
/*-----frquently-asked-qns section-----*/
.frequently-asked-qns{
	background-color:#f3f5fa;
	padding:40px 0px;
}
.frequently-asked-qns-title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding:30px;
	font-family:Jost,sans-serif;
}
.frequently-asked-qns-title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.frequently-asked-qns-title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	font-family:Open-sans,sans-serif;
	margin-bottom:30px;
}

.accordion-button:not(.collapsed){
	background-color:#fff;
	color:#37517e;
	font-weight:500;
	font-size:18px;
	font-family:Poppins,san-serif;
	box-shadow:none;
}
.accordion-item:first-of-type {
	margin-bottom:30px;
}
.accordion-item:not(:first-of-type){
	margin-bottom:30px;
}
.accordion-button:not(.collapsed):hover{
	color:#47b2e4;
}
.accordion-button{
	color:#37517e;
	font-weight:500;
	padding:25px;
	margin-bottom:20px;
	font-size:18px;
	font-family:Poppins,san-serif;
}
.frequently-asked-qns span{
	padding-right:5px;
	color:#47b2e4;
	font-size:25px;
}
.accordion-button:hover{
	color:#47b2e4;
}
.accordion-item:first-of-type .accordion-button{
	color:#47b2e4;
	list-style:none;
}
.accordion-item{
	border:none;
}
/*-------contact-section starts----*/
.contact-section{
	background-color:#fff;
	padding:30px 0px;
}
.contact-title h2{
	font-size:32px;
	font-weight:bold;
	color:#37517e;
	position:relative;
	text-align:center;
	padding:30px;
	font-family:Jost,sans-serif;
}
.contact-title h2::after{
	content:"";
	position:absolute;
	left:50%;
	bottom:0;
	width:50px;
	height:4px;
	background-color:#37517e;
	transform:translateX(-50%);
}
.contact-info {
	margin-bottom:30px;
}
.contact-title p{
	color:#444444;
	font-size:18px;
	line-height:25px;
	font-family:Open-sans,sans-serif;
	margin-bottom:60px;
}
.contact-section .info i{
	background-color:#e7f5fb;
	border-radius:50%;
	font-size:20px;
	color:#47b2e4;
	float:left;
	width:44px;
	height:44px;
	display:flex;
	align-items:center;
	justify-content:center;
}	
.contact-section .info i:hover{
	background-color:#47b2e4;
	color:#e7f5fb;
}
.contact-section .info h4{
	color:#37517e;
	font-size:20px;
	font-weight:600;
	padding-left:25px;
}
.contact-section .info p{
	color:#6182ba;
	font-size:14px;
	margin-bottom:20px;
	padding:0px 0px 10px 60px;
}
.contact-section .info{
	background-color:#fff;
	box-shadow:0 0 24px 0 rgb(0 0 0 / 10%);
	padding:20px 50px;
	border-top:3px solid #47b2e4;
	border-bottom:3px solid #47b2e4;
	margin-bottom:30px;
}
.contact-details{
	background-color:#fff;
	box-shadow:0 0 24px 0 rgb(0 0 0 / 10%);
	padding:20px;
	border-top:3px solid #47b2e4;
	border-bottom:3px solid #47b2e4;
	margin-bottom:30px;
}
.contact-form .contact {
	margin:20px 5px;
	padding:10px;
	font-size:17px;
	width:100%;
	font-size:15px;
	border:solid 0.5px gray;
	border-radius:2px;
}
.contact-form button[type=submit]{
	background-color:#47b2e4;
	padding:12px 20px;
	color:#fff;
	transition:all 0.5s ease;
	border-radius:3px;
	border:none;
	display:inline-block;
	margin:20px 13px;
}
.contact-form button[type=submit]:hover{
	background-color:#209dd8;
}
/*------newsletter section----*/
.newsletter-section{
	background-color:#f3f5fa;
	padding-top:40px;
	padding-bottom:60px;
}
.newsletter{
	padding:40px 0px;
	background-color:#f3f5fa;
	text-align:center;
}	
.newsletter h4{
	color:#37517e;
	font-size:24px;
	margin-bottom:20px;
	font-weight:600;
	font-family:Jost,sans-serif;
}
.newsletter p{
	color:#444444;
	font-size:15px;
	margin-bottom:20px;
}
form {
	background-color:#fff;
	padding:6px 10px;
	position:relative;
	border-radius:50px;
	width:40%;
	box-shadow:0px 0px 8px -3px #ccc;
	margin:0 auto;
	padding-right:8%;
}
form input[type=email]{
	padding:4px 8px;
	border:none;
	width:100%;
}
form input[type=submit] {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	border:none;
	font-size:16px;
	padding:0 20px;
	background-color:#47b2e4;
	color:#fff;
	border-radius:50px;
}
form input[type=submit]:hover {
	color:#fff;
	background-color:#209dd8;
}
/*-----link-section---*/
.justify-content-center{
	justify-content:center !important;
}
.link-section{
	background-color:#fff;
	padding:40px;
}
.footer-contact{
	padding-left:30px;
}
.footer-contact h2{
	color:#37517e;
	padding-bottom:10px;
	padding-top:30px;
	font-size:25px;
	padding-left:30px;
}
.footer-contact h5{
	color:#5e5e5e;
	font-size:12px;
	line-height:20px;
	padding-left:30px;
}
.footer-contact p{
	color:#5e5e5e;
	font-size:12px;
	padding-left:30px;
}
.footer-contact strong{
	color:#0a0707;
	font-size:15px;
	font-weight:bold;
}
.links h4{
	color:#37517e;
	font-size:18px;
	padding:30px 0px 10px 0px;
	font-weight:bold;
	position:relative;
	padding-left:30px;
}
.link-menu li{
	list-style:none;
	padding-bottom:10px;
}
.link-menu li i{
	color:#47b2e4;
	padding-right:2px;
}
.link-menu li a{
	text-decoration:none;
	color:#777777;
	font-size:15px;
	display:inline-block;
}
.link-menu li a:hover{
	color:#47b2e4;
}
.links p{
	color:#37517e;
	font-size:15px;
	padding-left:30px;
}
.link-icons a{
	text-decoration:none;
	background-color:#73c5eb;
	border-radius:50%;
	padding:12px;
	font-size:17px;
	color:#fff;
	display:inline-block;
	width:40px;
	height:40px;
}
.social-icons ul li{
	list-style:none;
	display:inline-block;
}
.social-icons a:hover{
	background-color:#47b2e4;
	color:#fff;
}
.footer-links{
	background-color:#37517e;
	padding:30px;
}
.footer-links .copyright{
	float:left;
	font-size:13px;
	color:#fff;
}
.copyright strong{
	color:#fff;
}
.credits span{
	font-size:13px;
}
.footer-links .credits{
	float:right;
	padding-right:50px;
	font-size:12px;
	color:#fff;
}
.credits a{
	text-decoration:none;
	color:#73c5eb;
	transition:0.3s ease;
}
.credits a:hover{
	color:#8acfefab;
}
.back-to-top{
	position:fixed;
	background-color:#47b2e4;
	border-radius:50%;
	width:40px;
	height:40px;
	transition:all 0.3s ease;
	z-index:99;
	bottom:12px;
	right:10px;
}
.back-to-top a{
	text-decoration:none;
}
.back-to-top i{
	color:#fff;
	font-size:24px;
}
.back-to-top.active{
	visibility:visible;
	opacity:1;
}
.back-to-top:hover{
	background-color:#6bc1e9;
	color:#fff;
}